<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>23A344017</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleH16CameraInterface</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleH16CameraInterface</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleH16CameraInterface</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>5.311</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>5.311</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>25D119</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>26.3</string>
	<key>DTSDKBuild</key>
	<string>25D119</string>
	<key>DTSDKName</key>
	<string>macosx26.3.internal</string>
	<key>DTXcode</key>
	<string>2600</string>
	<key>DTXcodeBuild</key>
	<string>17A6264l</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>RTBuddyBringup</key>
		<dict>
			<key>IOClass</key>
			<string>AppleH16CamIn</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>role</key>
				<string>ISP</string>
			</dict>
			<key>IOProviderClass</key>
			<string>RTBuddyService</string>
		</dict>
		<key>generic</key>
		<dict>
			<key>IOClass</key>
			<string>AppleH16CamIn</string>
			<key>IONameMatch</key>
			<string>isp,isp-generic-1</string>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
		<key>generic-ex</key>
		<dict>
			<key>IOClass</key>
			<string>AppleH16CamIn</string>
			<key>IOExclaveProxy</key>
			<true/>
			<key>IONameMatch</key>
			<string>isp,isp-generic-ex</string>
			<key>IOProbeScore</key>
			<integer>10000</integer>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
		<key>isp-exclave</key>
		<dict>
			<key>IOClass</key>
			<string>AppleExclaveCameraProxy</string>
			<key>IOExclaveProxy</key>
			<true/>
			<key>IONameMatch</key>
			<string>isp,isp-exclave-proxy</string>
			<key>IOProbeScore</key>
			<integer>10000</integer>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>26.3</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2016-2017 Apple Inc. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleARMPlatform</key>
		<string>1.0.0</string>
		<key>com.apple.driver.IODARTFamily</key>
		<string>1.0.0</string>
		<key>com.apple.driver.RTBuddy</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOReportFamily</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOSurface</key>
		<string>52.6.0</string>
		<key>com.apple.kec.corecrypto</key>
		<string>1.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0</string>
		<key>com.apple.kpi.private</key>
		<string>8.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0</string>
	</dict>
</dict>
</plist>
