<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>23A344017</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleAOP2</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleAOP2</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleAOP2</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>25D118</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>26.3</string>
	<key>DTSDKBuild</key>
	<string>25D118</string>
	<key>DTSDKName</key>
	<string>macosx26.3.internal</string>
	<key>DTXcode</key>
	<string>2600</string>
	<key>DTXcodeBuild</key>
	<string>17A6264l</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AOP2Endpoints</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAOP2</string>
			<key>IOClass</key>
			<string>AFKEPKextV2</string>
			<key>IONameMatch</key>
			<array>
				<string>AOP2Endpoint1</string>
				<string>AOP2Endpoint2</string>
				<string>AOP2Endpoint3</string>
				<string>AOP2Endpoint4</string>
				<string>AOP2Endpoint5</string>
				<string>AOP2Endpoint6</string>
				<string>AOP2Endpoint7</string>
				<string>AOP2Endpoint8</string>
				<string>AOP2Endpoint9</string>
				<string>AOP2Endpoint10</string>
				<string>AOP2Endpoint11</string>
				<string>AOP2Endpoint12</string>
				<string>AOP2Endpoint13</string>
				<string>AOP2Endpoint14</string>
				<string>AOP2Endpoint15</string>
				<string>AOP2Endpoint16</string>
				<string>AOP2Endpoint17</string>
				<string>AOP2Endpoint18</string>
				<string>AOP2Endpoint19</string>
				<string>AOP2Endpoint20</string>
				<string>AOP2Endpoint21</string>
				<string>AOP2Endpoint22</string>
				<string>AOP2Endpoint23</string>
				<string>AOP2Endpoint24</string>
			</array>
			<key>IOProviderClass</key>
			<string>RTBuddyEndpointService</string>
			<key>IdleLowPower</key>
			<false/>
			<key>UseIOPMStateControl</key>
			<true/>
		</dict>
		<key>AOP2FirmwareService</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAOP2</string>
			<key>IOClass</key>
			<string>AFKFirmwareService</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>role</key>
				<string>AOP2</string>
			</dict>
			<key>IOProviderClass</key>
			<string>RTBuddyService</string>
		</dict>
		<key>AppleAOP2SystemDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAOP2</string>
			<key>IOClass</key>
			<string>AppleAOP2SystemDriver</string>
			<key>IONameMatch</key>
			<array>
				<string>system-manager</string>
			</array>
			<key>IOProviderClass</key>
			<string>AFKMailboxEndpointInterface</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>26.3</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2023 Apple Inc. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleARMPlatform</key>
		<string>1.0.0</string>
		<key>com.apple.driver.AppleFirmwareKit</key>
		<string>1.0.0</string>
		<key>com.apple.driver.RTBuddy</key>
		<string>1.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>14.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>14.0</string>
	</dict>
</dict>
</plist>
